
	.header_center {
		display: flex;
		justify-content: space-around;
		width: 80%;
		margin: 0;
		padding-left: 10%;
		padding-right: 10%;
		align-items: center;
	}
	.header_item {
		color: white;
		font-weight: bold;
		display: inline-block;
		padding-top: max(1%,10px);
		padding-bottom: max(1%,10px);
		padding-left: max(1%,10px);
		padding-right: max(1%,10px);
		margin: 5px;
		text-align: center;
		/*border: 2px solid red;*/
	}
	@media (max-width: 1000px) {
		.header_center {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding-left: 10%;
			padding-right: 10%;
			align-items: center;
		}
		.header_item {
			flex: 0 0 calc(min(25%,10) - 5px);
			text-align: center;
			/*border: 2px solid red;*/
		}
	}
