body{
	margin:0px;
}
.main1{
	background-image: url("pic/pic1-small.png");
	background-size: cover;
	background-position: center center;
	width:100%;height:auto;
}
.main1_top{
	margin: 0px;
	color: white;
	text-align: center;
}
.main1_top>h1{
	margin: 0px;
	padding: 4vh 0px 4vh 0px;
	font-size: 5vh;
}
.main1_top>p{
	font-size: 1em;
}
.main1_top>h2{
	display: inline-block;
	background-color: yellow;
	padding: 2vw 2vw 2vw 2vw;
}
.main1_bottom{
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: center;
	align-content:center;
	padding: 0px 10% 0px 10%;
}

.main1_bottom>div{
	width:20vw;
	color: white;
	border: 2px solid rgba(0, 255, 255, 1.0);
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	padding: 1vw;
}
.main1_bottom>div>h1{
	font-size: 2vw;
}
.main1_bottom>div>p{
	font-size: 1vw;

}
article{
	padding: 0px 10% 0px 10%;
}
article>h1{
	font-size:2vw;
	margin: 2vw 0px 2vw 0px;
}
article>p{
	font-size:1vw;
	margin-top:0px;
}
.main2{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: space-between;
}
.main2>div{
	border: 1px solid gray;
	img{
		max-width:100%;height:auto;
	}
	div{
		padding: 1vw;
		p{
			color:red;font-size: 1vw;margin-bottom: 0px;
		}
		h1{
			font-size:2vw;
		}
		h2{
			font-size: 1vw;color:gray;
		}
		h3{
			background-color: red;color:white;font-size: 1,2vw;display:inline-block;padding: 1vw;
		}
	}
}
.main3{
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	justify-content: space-between;
	
}
.main3>div{
	border: 1px solid gray;
	img{
		width: 100%;aspect-ratio: 1 / 1;display: inline-block;
	}
	
}
.main3>div>div{
	padding: 1vw;
	text-align: center;
	h1{
		margin: 0px;font-size: 2vw;
	}
	p{
		margin: 0px;font-size: 1vw;
	}
	div{
		padding: 2vw 0px 1vw 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		img{
			width:2vw;
		}
	}
}
